body {
  background-color: #000000;
}
.container {
  height: 10em;
  width: 45em;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}
.container h1 {
  color: #ffffff;
  font-family: 'Lora', serif;
  font-size: 8.3em;
  position: absolute;
  line-height: 0;
}
.container img {
  position: absolute;
  width: 25em;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  animation: spin 9s infinite linear;
}
@keyframes spin {
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.container h1:nth-child(3) {
  color: transparent;
  -webkit-text-stroke: 3px #ffffff;
}
marquee {
  font-size: 17px;
  font-weight: 800;
  color: #ff0000;
  font-family: sans-serif;
  margin-top: 47%;
}
